<h1>Bookings</h1>
<br>
<% if @bookings.exists? %>
    <% booking_array = [] %>
    <% all_bookings_formatted = "" %>
    <% @bookings.reverse.each do |booking| %>
    <% tutor = Tutor.find(booking.tutor_id) %>
        <% all_bookings_formatted << "#{get_student_booking_info(booking)}" %>
        <% all_bookings_formatted << "<br><hr><br>" %>
        
    <% end %>
    <%= sanitize all_bookings_formatted %>
    
<% else %>
        <p>You have no bookings.</p>
<% end %>