<div class="jumbotron jumbotron-fluid" id="jumbo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
<h1>Order Success!</h1>

<img src="https://res.cloudinary.com/glenfish/image/upload/dwwxws13jivyz5iur2tiepa9yxrg.jpg" alt="tick" class='success-tick' style="width:100px; float:left; margin-right: 30px;">


</div>
<p><br>&nbsp Thank you for your purchase.
<%= link_to "View Your Booking", student_bookings_path %>
<br>
</p>
</div>
</div>
</div>