<h1>About Us</h1>
<p>This app is a two-sided marketplace matching students with tutors.</p>

<p>Tutors can create a profile and list subjects they teach.</p>

<p>Students can search for tutors teaching subjects of interest, and book tutoring time.</p>

<p>Secure credit card payment processing is provided by Stripe.com.
</p>

<p>A service that brings together teaching talent and those who have a need for one-on-one training is always valuable. Students at university, community college, self-studying or doing bootcamps all can benefit from finding the perfect tutor who can help their learning journey.</p>

<p>This app is simple to use and with a very short time commitment, a student and tutor can be in touch and having an online Zoom meeting, or Skype call. Once a successful payment and booking has been made, both parties are given their other's contact information.</p>

<p>Note: This app is currently in alpha and payments are running in test mode on the live app. Tutor rate is hard coded at AUD$60 per hour.</p>

<p>TutorMe developed by <a href="https://github.com/glenfish" target="_blank">glenfish</a></p>

