/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 

 .page-container {
    max-width: 1366px;
    margin: 0 auto;

 }

.content-container {
    max-width:94%;
    margin: 20px auto;
    padding-left: 20px;

}

.subject-title {
    font-weight: bold;
}

.subject-row {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.clear {
    clear:both;
}

.hero-image {
    padding: 0;
    margin: 0;

}

 .bold {
    font-weight: 600;
}

 .tutor_fave_pic {
    float: right;
    margin-left: 80px;
}
.profile_image_main {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.tutor_fave_container {
    max-width: 500px;
    margin-bottom: 60px;

}

.mycheckbox {
    height:30px;
    width: 30px;
}

.pad-top {
    padding-top: 5px;
}

#search-checkbox {
    margin-bottom: 0;
}

#alert {
    max-width:500px;
    margin-top:2px;
    margin-bottom:20px;
    padding:8px;
    background: rgb(255, 241, 160);
    opacity: 1;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.4s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.form-container {
    max-width: 440px;
}






