/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


 @import "bootstrap";

.bold {
    font-weight: 600;
}

 .tutor_fave_pic {
    float: right;
    margin-left: 80px;
}
.profile_image_main {
    float: right;
    margin-left: 80px;
}

.tutor_fave_container {
    max-width: 500px;

}

.mycheckbox {
    height:30px;
    width: 30px;
}

.pad-top {
    padding-top: 5px;
}

#search-checkbox {
    margin-bottom: 0;
}

#alert {
    margin-top:10px;
    margin-bottom:20px;
    padding:6px;
    background: rgb(249, 249, 199);
}

